*.zip
*.pdf
*.tar.xz

# IGnore les images uploadé par l'utilisateur
public/uploads/*
public/avatars/*
public/articles/*

# Ignore le notes.md
notes.md

# Ignore les fichiers de configuration de l'environnement composer
vendor/*
composer.json
composer.lock

# Pour l'IDE PhpStorm
.idea/

# Ignore les fichier de node
node_modules/
dist

# Ignore les fichier vite qui se génére pour EditorJS
public/assets/js/
public/assets/css

# Ajouts des certificats ssl 
certificats/

# Ajout des fichier d'environements
.env
.tar.xz

.vscode

public/assets
