# Site principal vers Apache/PHP
arpegesfractals.local {
    tls internal
    encode gzip
    reverse_proxy php:80
}

# PhpMyAdmin
pma.arpegesfractals.local {
    tls internal
    encode gzip
    reverse_proxy phpmyadmin:80
}

# Mailhog UI
mail.arpegesfractals.local {
    tls internal
    encode gzip
    reverse_proxy mailhog:8025
}
